/* Basic jQuery Slider essential styles */

ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}

/* Added */
#answerContainer {
	display:none;
}
li.bjqs-slide span.answerTxt {
	position:absolute;
	bottom:20%;
	left:0;
	color:#fff;
	padding:10px;
	background-color:rgba(0,0,0,0.5);
	font-family:wf_SegoeUILight, wf_SegoeUI, Tahoma, Verdana, Arial, sans-serif;
	font-size:16px;
}
li.bjqs-next a {
	background:url("../images/next.png") no-repeat right 0 transparent;
	width:50px;
	height:50px;
	z-index:2;
}
li.bjqs-prev a {
	background:url("../images/prev.png") no-repeat left 0 transparent;
	width:50px;
	height:50px;
	z-index:2;
}
.bjqs-markers {
	display:none;
}